<div class="main">
    <div class="title">
        Schedules
    </div>
    <div class="content">
        <div class="descriptions" *ngFor="let x of schedule">
            <!-- <div> {{x.payload.doc.data().ScheduleName}} </div> -->
            <div class="name">
                {{x.payload.doc.data().ScheduleName}}
            </div>
            <div class="type">
                {{x.payload.doc.data().type}}
            </div>
            <div class="link">
                Click to view schedule
            </div>
        </div>

    </div>
</div>