<div class="main">
  <div class="title">Event and Opportunities</div>
  <div class="addask">
    <div class="addaskbut">
      Add a Event
    </div>
  </div>
  <div class="cards">
    <div class="card" style="width: 18rem;margin: 2vh 2vw 2vh 2vw;" *ngFor = "let x of events">
      <img class="card-img-top" src="../../assets/img/work-6.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{x.payload.doc.data().EventName}}</h5>
        <p class="card-text">{{x.payload.doc.data().Link}}</p>
        <p class="card-text">{{x.payload.doc.data().email}}</p>
        <a (click) = "submit(x.payload.doc.data().Hashtag)" class="btn btn-primary">#{{x.payload.doc.data().Hashtag}}</a>
      </div>
    </div>
  </div>
</div>
