<div class="main">
    <div class="title">
        Resources
    </div>
        <div class="threadname">
            Image Processing Resources
        </div>
        <a class="addresource" routerLink="/resources/resourceform">
            Add Resource
        </a>
    <div class="content">
        <div class="descriptions" *ngFor="let x of cards">
            <div class="text">
                <div> {{x.num}} </div>
                <div>username</div>
                <div>resource link</div>
                <div>description</div>
            </div>
            <div class="buttons">
                <div class="like">
                    Like
                </div>
                <div class="dislike">
                    Dislike
                </div>
            </div>
            
        </div>

    </div>
</div>
