<div class="main">
    <div class="title">
        Resources
    </div>
    <div class="content">
        <div class="threadname">
            Image Processing Resources
        </div>
        <div class="descriptions" *ngFor="let x of cards">
            <div> {{x.num}} </div>
            <div>username</div>
            <div>resource link</div>
            <div>description</div>
            <div class="Like">
                Like
            </div>
            <div class="Dislike">
                Dislike
            </div>
        </div>
    </div>
</div>
