<div class="main">
    <div class = "authcard">
        <div class = "tabs">
            <div class = "tab" (click) = "togglelogin(true)" [ngClass]="{
                'tabactive': login
            }">Login</div>
            <div class = "tab" (click) = "togglelogin(false)" [ngClass]="{
                'tabactive': !login
            }">Sign up</div>
        </div>
        <form class = "loginsignup" [formGroup]="Auth" [ngClass]="{
            'loginactive': login,
            'signupactive': !login
        }">
            <div class="logincard">
                <div class="title">Stunet</div>
                <div class="inputs">
                    <input placeholder="Enter email" type="email" class="input" formControlName = "emaillogin">
                    <input placeholder="Enter password" type="password" class="input" formControlName = "passwordlogin">
                </div>
                <div class = "logindeets">
                    <button class="loginbutton" (click) = "signin()">Login</button>
                    <div style = "color: blue; cursor: pointer;" (click) = "togglelogin(false)">Not yet Registered? Register Now</div>
                </div>
            </div>
            <div class="logincard">
                <div class="title">Stunet</div>
                <div class="inputs">
                    <input placeholder="Enter email" type="email" class="input" formControlName = "emailreg">
                    <input placeholder="Enter password" type="password" class="input" formControlName = "passwordreg">
                </div>
                <div class = "logindeets">
                    <button class="loginbutton" (click) = "signup()">Register</button>
                    <div style = "color: blue; cursor: pointer;" (click) = "togglelogin(true)">Already Registered? Login</div>
                </div>
            </div>
        </form>
        
    </div>
</div>