<div class="cards">
<div class="card" style="width: 18rem;margin: 2vh 2vw 2vh 2vw;">
    <img class="card-img-top" src="../../assets/img/work-6.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" routerLink="/resume" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;margin: 2vh 2vw 2vh 2vw;">
    <img class="card-img-top" src="../../assets/img/work-2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" routerLink="/profilesite" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;margin: 2vh 2vw 2vh 2vw;">
    <img class="card-img-top" src="../../assets/img/work-1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" routerLink="/profilesite" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;margin: 2vh 2vw 2vh 2vw;">
    <img class="card-img-top" src="../../assets/img/work-1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" routerLink="/profilesite" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  </div>