<div class="cards">
<div class="card" style="width: 18rem;margin: 2vh 2vw 2vh 2vw;">
    <img class="card-img-top" src="../../assets/img/template-1.PNG" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Web designer Template</h5>
      <p class="card-text">A cool and asthetic template for you!</p>
      <a href="#" routerLink="/resumeform" class="btn btn-primary">Use This</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;margin: 2vh 2vw 2vh 2vw;">
    <img class="card-img-top" src="../../assets/img/template-2.PNG" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Portfolio template</h5>
      <p class="card-text">A single page portfolio, with everything from exeperience to your projects.</p>
      <a href="#" routerLink="/profilesite" class="btn btn-primary">Use This</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;margin: 2vh 2vw 2vh 2vw;">
    <img class="card-img-top" src="../../assets/img/template-3.PNG" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Professional template</h5>
      <p class="card-text">All in one Template!</p>
      <a href="#" routerLink="/profilesite" class="btn btn-primary">Use This</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;margin: 2vh 2vw 2vh 2vw;">
    <img class="card-img-top" src="../../assets/img/template-4.PNG" alt="Card image cap">
    <div class="card-body">
            <h5 class="card-title">Ui UX Portfolio</h5>
      <p class="card-text">Just the right mixture of designing and innovating!</p>
      <a href="#" routerLink="/profilesite" class="btn btn-primary">Use This</a>
    </div>
  </div>
  </div>