<div class="main">
    <div class="title">
        Hashtags
    </div>
    <div class="heads">
        <div class="hashtag">
            #Hashtag
        </div>
        <div class="subscribe">
            Subscribe
        </div>
    </div>
    <div class="lr">
        <div class="left">
            <div class="box" *ngFor="let x of cards">
            </div>
        </div>
        <div class="right">
            <div class="box" *ngFor="let x of cards">
            </div>
        </div>
    </div>
    
</div>
