<div class = "main">
    <div class = "formcont">
        <div class = "formtitle">
            Add Event
        </div>
        <form [formGroup]="event" class = "form" >
            <input type = "text" placeholder="Enter event name" class = "input">
            <input type = "text" placeholder="Enter hashtag" class = "input">
            <input type = "text" placeholder="Enter link" class = "input">
            <!-- Upload receipt: (Optional) -->
            <!-- <input type="file" id="file" (change)="imagetUpload($event.target.files)" class="input"> -->
            <div class = "submitbut">
                Submit
            </div>
        </form>
    </div>
</div>