<div class = "main">
    <div class = "formcont">
        <div class = "formtitle">
            Add expense
        </div>
        <!-- <form [formGroup]="addexp" class = "form" >
            <input type = "text">
            <input type = "number">
        </form> -->
    </div>
</div>
<!-- 
// "@angular/cdk": "11.2.11",
// "@angular/material": "^11.2.11",
// "@ng-bootstrap/ng-bootstrap": "^9.0.2",
// "angular-font-awesome": "^3.1.2",
// "bootstrap": "^4.6.0",
// "font-awesome": "^4.7.0",
// "jquery": "^3.6.0",
// "popper.js": "^1.16.1", -->