<div class="main">
    <div class="title">
        Profile and Resume
    </div>
    <div class="addresume">
        <a class="addresumebut" routerLink="/resume/upload">
            Upload a resume
        </a>

        <a class="addresumebut" routerLink="/templates">
            Make a resume
        </a>

        <a class="addresumebut" (click)="gotopdf()">
            View Resume
        </a>

        <a class="addresumebut" routerLink="/resume/add">
            Add my resume for review
        </a>
    </div>
    <div class="templates">
        <div class="templatesbut">
            Resumes up for review
        </div>

        <div class="cards">
           <div  *ngFor="let x of resumes">
            <label>
                <!-- <div> -->
                    <input type="checkbox" />
                    <div class="flip-card">
                        <div class="front">
                            <img src="../../assets/img/becca-tapert-GnY_mW1Q6Xc-unsplash.jpg" alt="" />
                            <h1>{{x.payload.doc.data().Name}}</h1>
                            <h2>{{x.payload.doc.data().Profession}}</h2>
                            <b>{{x.payload.doc.data().Email}}</b>
                            <p>Click for Description</p>
                        </div>
                        <div class="back">
                            <h1>About me</h1>
                            <hr />
                            <p>{{x.payload.doc.data().Description}}</p>
                            <hr />
                            <button type="button" class="btn btn-primary">Review</button>
                            <p class="click">Click to flip</p>
                        </div>
                    </div>
                <!-- </div> -->
            </label>
           </div>

        </div>
    </div>
</div>