<div class="main">
    <div class="title">
        Resume and Profile
    </div>
    <div class="addresume">
        <a class = "addresumebut" routerLink="/Resume/addresume">
            Upload a resume
        </a>
        <a class = "addresumebut" routerLink="/Resume/makeresume">
            Make a resume
        </a>
        
    </div>
    <div class="templates">
        <div class = "templatesbut">
            Resumes up for review
        </div>
        <div class = "resumes">
            <div class="cards">
            <label>
                <input type="checkbox" />
                <div class="flip-card" >
                    <div class="front">
                        <img src="../../assets/img/becca-tapert-GnY_mW1Q6Xc-unsplash.jpg" alt="" />
                        <h1>Becca Tapert</h1>
                        <h2>Full stack Developer</h2>
                        <b>Btapertl@gmail.com</b>
                        <p>Click for Description</p>
                    </div>
                    <div class="back">
                        <h1>About me</h1>
                        <hr />
                        <p>Experienced PMP with a background in law and 7+ years experience growing revenue for a Massachusetts-based electronics firm.</p>
                        <hr />
                        <p class="click">Click to flip</p>
                    </div>
                </div>
            </label> 
            
        
            <label>
                <input type="checkbox" />
                <div class="flip-card" >
                    <div class="front">
                        <img src="../../assets/img/tamarcus-brown-T3uKisfmABY-unsplash.jpg" alt="" />
                        <h1>Tamarcus Brown</h1>
                        <h2> Web Developer</h2>
                        <b>Tbrown@gmail.com</b>
                        <p>Click for Decsription</p>
                    </div>
                    <div class="back">
                        <h1>About me</h1>
                        <hr />
                        <p>Award-winning web developer and instructor with 10+ years’ of well-rounded experience in LAMP development,</p>
                        <hr />
                        <p class="click">Click to flip</p>
                    </div>
                </div>
            </label>

            <label>
                <input type="checkbox" />
                <div class="flip-card" >
                    <div class="front">
                        <img src="../../assets/img/usman-yousaf-q2q5CdLuWnI-unsplash.jpg" alt="" />
                        <h1>Michael Dam</h1>
                        <h2>Ui/UX Designer</h2>
                        <b>MDam@gmail.com</b>
                        <p>Click for Description</p>
                    </div>
                    <div class="back">
                        <h1>About me</h1>
                        <hr />
                        <p>High‐performing, strategic‐thinking professional with more than six years' experience in 
                            employment services in the non‐profit and higher education sectors</p>
                        <hr />
                        <p class="click">Click to flip</p>
                    </div>
                </div>
            </label>
        


            <label>
                <input type="checkbox" />
                <div class="flip-card" >
                    <div class="front">
                        <img src="../../assets/img/muhammad-rizwan-VnydpKiCDaY-unsplash.jpg" alt="" />
                        <h1>Muhammand Rizwan</h1>
                        <h2>Data Analyst</h2>
                        <b>muhammadr@gmail.com</b>
                        <p>Click for Description</p>
                    </div>
                    <div class="back">
                        <h1>About me</h1>
                        <hr />
                        <p>Dedicated and enthusiastic professional with over six years experience in Data analysis.</p>
                        <hr />
                        <p class="click">Click to flip</p>
                    </div>
                </div>
            </label>
         </div>
        </div>
    </div>
