<div class = "main">
    <div class = "formcont">
        <div class = "formtitle">
            Team Up!
        </div>
        <form [formGroup]="teamup" class = "form" >
            <input type = "text" placeholder="Enter Occassion" class = "input">
            <input type = "text" placeholder="Enter Description" class = "input">
            <input type = "text" placeholder="Enter email-id" class = "input">
            
            <div class = "submitbut" (click) = "submit()">
                Submit
            </div>
        </form>
    </div>
</div>