<div class = "main">
    <div class = "formcont">
        <div class = "formtitle">
            Team Up!
        </div>
        <form [formGroup]="teamup" class = "form" >
            <input type = "text" placeholder="Enter Occassion" class = "input">
            <input type = "text" placeholder="Enter Description" class = "input">
            <input type = "text" placeholder="Enter email-id" class = "input">
            <div class = "submitbut">
                <h1 style="padding:2vh 2vw 2vh 2vw">UPCOMING EVENTS</h1>
<div class="cards">
    <div class="card" style="width: 18rem;margin: 2vh 2vw 2vh 2vw;">
        <img class="card-img-top" src="../../assets/img/work-6.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <br><a href="#">#HashTag</a><br>
          <a href="#" routerLink="/profilesite" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;margin: 2vh 2vw 2vh 2vw;">
        <img class="card-img-top" src="../../assets/img/work-2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <br><a href="#">#HashTag</a><br>
          <a href="#" routerLink="/profilesite" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;margin: 2vh 2vw 2vh 2vw;">
        <img class="card-img-top" src="../../assets/img/work-1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <br><a href="#">#HashTag</a><br>
          <a href="#" routerLink="/profilesite" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;margin: 2vh 2vw 2vh 2vw;">
        <img class="card-img-top" src="../../assets/img/work-1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <br><a href="#">#HashTag</a><br>
          <a href="#" routerLink="/profilesite" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      </div>

            </div>
        </form>
    </div>
</div>